@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Righteous', cursive;
}
.main_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.link_nav{
    text-align: center;
    width: 50%;

}
.ul_nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.li_nav1{
    
    background-color: #4d194d;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    width: 200px;
    border: none;
    justify-content: space-between;
    margin-right: 40px;
}
.li_nav2{
    background-color: #e63946;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    width: 200px;
    border: none;
    justify-content: space-between;
    margin-right: 40px;
}
.li_nav1:hover,.li_nav2:hover{
    opacity: 80%;

}
.li_nav2 a{
    font-weight: 800;
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.li_nav1 a{
    font-weight: 800;
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.li_nav1 a:visited a:focus,.li_nav2 a:visited a:focus{
    font-weight: 800;
    font-size: 22px;
    text-decoration: none;
}
.li_nav1 a:hover,.li_nav2 a:hover{
    font-weight: 800;
    font-size: 22px;
    text-decoration: none;

}
.main_nav h3{
    color: #03045e;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 200px;
    margin-left: -300px;
    margin-top: -100px;
}
.h2_container{
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #001219;
    color: white;
    width: 70%;
    height: auto;
    border-radius: 7px;
}
.colorValue{
    color: turquoise;
}
.btn{
    border: 3px solid black;
    outline: none;
    width: 40%;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in;
    font-size: 22px;
}
.btn:hover{
    transform: scale(1.09);
    background-color: #000000;
    color: white;
}